/* ChatSidebar.css */
.chatSidebar {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 0;
    height: 1160px;
    background-color: gray;
    transition: width 0.3s ease;
    overflow-y: auto;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
    color: white;
    margin-top: 60px;
  }

  .chatSidebar::-webkit-scrollbar {
    display: none;
    width: 0;
    overflow: hidden;
  }

.userList > h2 {
    align-items: center;
    text-align: center;
    white-space: nowrap;
    padding: 10px;
    color: #7289da;
    background-color: #282b30;
    margin-top: -5px;
}

.userList__user {
  align-items: center;
  padding: 10px;
  display: flex;
  list-style: none;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
}

.userList__user:hover {
  background-color: #7289da;
}

.userList__photo {
  margin-right: 10px;
}
  
  .chatSidebar.open {
    width: 300px;
    color: white;
    margin-top: 60px;
    height: 1160px;
    overflow: hidden;
  }
