.chat {
    display: flex;
    flex-direction: column;
    flex: 0.75;
    background-color: #363a3f;
    height: 100vh;
}

.chat__messages {
    flex: 1;
    overflow: scroll;
    }
    .chat__messages::-webkit-scrollbar {
    display: none;
    }
    .chat__messages {
    -ms-overflow-style: none;
    scrollbar-width: none;
    }

.chat__input {
    color: lightgray;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    border-radius: 5px;
    margin: 20px;
    border-top: 1px solid gray;
    background-color: #474b53;
}

.chat__input > form > input {
    padding: 15px;
    background: transparent;
    border: none;
    width: 100%;
    outline-width: 0;
    color: white;
    font-size: large;
}

.chat__input > form {
    flex: 1;
}


.chat__inputButton {
    display: none;
}

.chat__inputIcons > .MuiSvgIcon-root {
    padding: 5px;
}

.chat__emojiBtn {
    padding: 5px;
    cursor: pointer;
}

.chat__emojiBtn:hover {
    color: rgb(233, 215, 53);
}

.emoji-picker-container.pop-out {
    position: absolute;
    z-index: 9999;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    padding: 10px;
    
    left: 660px;
    bottom: 120px;
    /* Add other styles as needed */
  }