.login {
    display: grid;
    place-items: center;
    height: 100vh;
    width: 100%;
    background-color: rgb(178, 167, 207);
}

.login > button {
    width: 300px;
    background-color: #5865f2;
    color: #eff2f5;
    font-weight: 800;
    margin-bottom: 400px;
}

#root > div > div > button {
    justify-content: center;
    top: -80px;
}

.login > button:hover {
    background-color: black;
    color: #5865f2;   
}

.login > div > img {
    object-fit: contain;
    height: 420px;
}

