.message {
    display: flex;
    align-items: center;
    padding: 20px;
    margin-bottom: 13px;
    color: white;
    position: relative;
}

.message:hover {
    background-color: #282b30;
}

.message__info {
    margin-left: 20px;
    flex-grow: 1;
    overflow: hidden;
    white-space: nowrap;
}

.message__timestamp {
    color: gray;
    margin-left: 20px;
    font-size: x-small;
}

.message__contextMenu {
    background-color: black;
    color: white;
    border-radius: 15px;
    padding: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
    position: fixed;
    width: 90px;
}

.message__contextMenu:hover {
    color: red;
}

.message__deleteContainer {
    display: flex;
}

.message__deleteBtn {
    margin-right: 8px;
  }





